body{
    background-color: rgb(241, 215, 219);
}

.flex1{
    display: flex;
    background-color: rgb(247, 244, 244);
    border: 2px solid black;
    width: 300px;
    height: 250px;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex1 div{
    background-color: rgb(182, 42, 89);
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    
}

.flex2{
    display: flex;
    background-color: rgb(247, 244, 244);
    border: 2px solid black;
    width: 300px;
    height: 250px;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex2 div{
    
    background-color: rgb(182, 42, 89);
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
}
.flex3{
    display: flex;
    background-color: rgb(247, 244, 244);
    border: 2px solid black;
    width: 300px;
    height: 250px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.flex3 div{
    background-color: rgb(182, 42, 89);
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    
}
.flex4{
    display: flex;
    background-color: rgb(247, 244, 244);
    border: 2px solid black;
    width: 300px;
    height: 250px;
    flex-wrap: wrap;
    flex-direction: column-reverse;    
}

.flex4 div{
    background-color: rgb(182, 42, 89);
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
}

.item1{
    display: flex;
    background-color:  rgb(247, 244, 244);
    border: 2px solid black;
    width: 300px;
    height: 250px;
    
    
}
.item1 div{
       background-color: rgb(182, 42, 89);
       width: 50px;
       height: 50px;
       margin: 5px;
       border-radius: 5px;
       margin: right 20px;
    text-align:100px;
    align-items: flex-start;
}

.item2{
     display: flex;
    background-color: aliceblue;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    align-items: center;
}

.item2 div{
        background-color: rgb(182, 42, 89);
        width: 50px;
       height: 50px;
       margin: 5px;
       align-items: center;
       border-radius: 5px;
     
}


.item3{
    background-color: white;
    border: 2px  solid black;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: flex-end;
}
.item3 div{
      background-color: rgb(182, 42, 89);
      width: 50px;
      height: 50px;
      margin: 5px;
      border-radius: 5px;
    
}
.item4{
     background-color: white;
     border: 2px solid black;
     width: 300px;
     height: 250px;
     display: flex;
     
}
.item4 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height: 80%;
    margin: 5px;
    padding-bottom: 80px;
   margin-left: 30px;
   border-radius: 5px;
  align-items: stretch;
}

.content1{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: flex-start;

}
.content1 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height: 200px;
    padding-bottom: 80px;
    margin-bottom: 10px;
    margin: 5px;
    justify-content: flex-start;
    border-radius: 5px;
    
}

.content2{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;

}
.content2 div{
    background-color:rgb(182, 42, 89);
    width: 50px;
    height: 100%;
    padding-bottom: 80px;
    margin-bottom: 50%;
    margin: 5px;
    border-radius: 5px;
}
.content3{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: end;

}
.content3 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height: 50px;
    padding-bottom: 80px;
    margin-bottom: 50%;
    margin: 5px;
    border-radius: 5px;

}

.content4{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: space-between;

}
.content4 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 5px;
    padding-bottom: 80px;
}

.content5{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: space-around;

}
.content5 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 5px;
    padding-bottom: 80px;
}

.content6{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;

}
.content6 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height: 50px;
    margin: 2px;
    padding-bottom: 80px;
    border-radius: 5px;

}
.part1{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}
.part1 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height:50px;
    margin: 5px;
    border-radius: 4px;
}
.part2{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex; 
    align-content: center;
}
.part2 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height:50px;
    margin: 1px;
    border-radius: 5px;
}

.part3{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}
.part3 div{
    background-color:  rgb(182, 42, 89);
    width: 50px;
    height:50px;
    margin: 3px;
    border-radius: 5px;
}
.part4{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}
.part4 div{
    background-color:  rgb(182, 42, 89);
    width: 30px;
    height:100px;
    margin: 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 17px;
    margin-right: 10px;
    
}
.part5{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;    
    align-content: space-between;
}
.part5 div{
    background-color:rgb(182, 42, 89);
    width: 50px;
    height:50px;
    margin: 2px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
}
.part6{
    background-color: white;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;    
    align-content: space-around;
}
.part6 div{
    background-color:rgb(182, 42, 89);
    width: 50px;
    height:50px;
    margin: 2px;
    border-radius: 4px;
    margin-right: 2px;
    padding-right: 5px;
}
.container1{
     display: flex;
     margin: 80px;
     
}
.container2{
     display: flex;
     margin: 80px;
}

